/* stylelint-disable no-descending-specificity */
button {
  display: block;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  appearance: none;
}

.btn {
  &-primary {
    &:hover {
      background: $green-dark;
    }

    &:focus {
      background: $green-deep;
    }

    &:not(.btn-lg) {
      color: $secondary;
    }

    &.btn-lg {
      svg {
        color: $primary;
        background: $secondary;
      }
    }
  }

  &-secondary {
    &:hover,
    &:focus {
      color: $primary;
    }

    &:focus {
      background: $green-light;
    }

    &:not(.btn-lg):not(.modal-close) {
      svg {
        color: $primary;
      }
    }

    &.btn-lg {
      svg {
        color: $secondary;
        background: $primary;
      }
    }
  }

  &-icon {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;

    span {
      @include b-d(md) {
        display: none;
      }
    }

    &:not(.btn-sm) {
      padding-right: 16px;
      padding-left: 16px;
    }

    &:not(.btn-sm):not(.btn-lg) {
      column-gap: 8px;
    }

    &.btn-sm {
      column-gap: 4px;
    }

    &.btn-lg {
      column-gap: 20px;

      svg {
        width: 32px;
        height: 32px;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }

  &:not(&-sm) {
    text-transform: uppercase;
  }

  &-sm,
  &-lg {
    font-weight: 400;
    line-height: 1.43;
  }

  &:focus {
    &,
    &:active {
      box-shadow: none;
    }
  }

  &[disabled] {
    background-color: $gray-500;
  }
}
