/* stylelint-disable no-descending-specificity */
button {
  display: block;
  padding: 0;
  background: none;
  border: 0;
  outline: none;
  appearance: none;
}

.btn {
  text-transform: uppercase;

  &-primary {
    &:hover {
      background: $green-dark;
    }

    &:focus {
      background: $green-deep;
    }
  }

  &-secondary {
    &:hover {
      color: $green-dark;
    }

    &:focus {
      color: $green-deep;
      background: $green-light;
    }

    &:not(.modal-close) {
      svg {
        color: $primary;
      }
    }
  }

  &-icon {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
    align-items: center;
    justify-content: start;
  }

  &:focus {
    &,
    &:active {
      box-shadow: none;
    }
  }

  &[disabled] {
    background-color: $gray-500;
  }
}
