.nav {
  $this: &;

  &--header {
    justify-self: center;

    @include b-up(xl) {
      column-gap: 12px;
    }

    @include b-d(lg) {
      display: none;
    }

    #{$this}-link {
      @include b-d(xl) {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  &--footer {
    grid-area: menu;

    @include b-up(xxl) {
      margin-left: -12px;
    }

    @include b-o(md) {
      margin-left: -12px;
    }

    @include b-d(md) {
      flex-direction: column;
      row-gap: 8px;
      margin-bottom: -8px;
    }
  }

  &--dropdown {
    flex-direction: column;
    row-gap: 8px;
    padding: 24px 20px;
    background: $white;
    border-radius: 14px;
  }

  &-link {
    line-height: 1.43;

    &:focus {
      color: $green-deep;
    }

    &.active {
      font-weight: 600;
    }
  }

  &-gallery {
    margin-right: -13px;
    margin-bottom: 8px;
    margin-left: -13px;

    #{$this}-link {
      padding-right: 13px;
      padding-left: 13px;
      font-size: 24px;
      line-height: 1.33;
      color: transparent;
      background-color: rgba(#3e3e3e, 0.5);
      background-clip: text;

      span {
        &::before {
          display: block;
          height: 0;
          font-weight: 500;
          visibility: hidden;
          content: attr(data-label);
        }
      }

      &:hover {
        background-color: rgba(#3e3e3e, 0.7);
      }

      &:focus {
        color: transparent;
      }

      &.active {
        font-weight: 500;
        background-image: linear-gradient(
          89.79deg,
          #162113 9.67%,
          #2e721c 99.85%
        );
      }
    }

    #{$this}-item {
      &:not(:first-child) {
        position: relative;

        &::before {
          position: absolute;
          top: 8px;
          left: 0;
          width: 1px;
          height: calc(100% - 16px);
          content: '';
          background: #ededed;
        }
      }
    }
  }
}
