.nav {
  $this: &;

  &--header {
    justify-self: center;

    @include b-up(xl) {
      column-gap: 12px;
    }

    @include b-d(lg) {
      display: none;
    }

    #{$this}-link {
      @include b-d(xl) {
        padding-right: 10px;
        padding-left: 10px;
      }

      &.active {
        font-weight: 600;

        &:hover,
        &:focus {
          color: $black;
        }
      }
    }
  }

  &--footer {
    grid-area: menu;

    @include b-up(xxl) {
      margin-left: -12px;
    }

    @include b-o(md) {
      margin-left: -12px;
    }

    @include b-d(md) {
      flex-direction: column;
      row-gap: 8px;
      margin-bottom: -8px;
    }
  }

  &--dropdown {
    flex-direction: column;
    row-gap: 8px;
    padding: 24px 20px;
    background: $white;
    border-radius: 14px;
  }

  &-gallery {
    margin-bottom: 8px;

    @include b-up(lg) {
      margin-right: -13px;
      margin-left: -13px;
    }

    @include b-d(lg) {
      margin-right: -12px;
      margin-left: -12px;
    }

    @include b-d(md) {
      justify-content: center;
    }

    #{$this}-link {
      color: transparent;
      letter-spacing: -1.5px;
      background-color: rgba($gray-800, 0.5);
      background-clip: text;

      @include b-up(lg) {
        padding-right: 13px;
        padding-left: 13px;
        font-size: 24px;
        line-height: 1.33;
      }

      @include b-d(lg) {
        padding-right: 12px;
        padding-left: 12px;
        font-size: 20px;
        line-height: 1.6;
      }

      span {
        &::before {
          display: block;
          height: 0;
          font-weight: 500;
          visibility: hidden;
          content: attr(data-label);
        }
      }

      &:hover {
        background-color: rgba($gray-800, 0.7);
      }

      &.active {
        font-weight: 500;
        background-image: linear-gradient(
          89.79deg,
          #162113 9.67%,
          #2e721c 99.85%
        );
      }
    }

    #{$this}-item {
      &:not(:first-child) {
        position: relative;

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: 67%;
          content: '';
          background: #ededed;
          transform: translateY(-50%);
        }
      }
    }
  }
}
