.swiper {
  $this: &;

  position: relative;
  overflow: visible;
  touch-action: pan-y;

  &-wrapper {
    display: grid;
    grid-auto-flow: column;
  }

  &-nav {
    display: grid;
    grid-template-columns: repeat(2, 64px);
    column-gap: 8px;
  }

  &-button {
    position: absolute;
    top: calc(50% - 26px);
    padding: 14px;
    box-shadow: 0 0 15px 6px rgba($black, 0.15);
    transition:
      background-color 250ms ease-in-out,
      color 250ms ease-in-out,
      opacity 250ms ease-in-out;

    &-prev {
      left: 8px;
      transform: scale(-1, 1);
    }

    &-next {
      right: 8px;
    }

    &-disabled:disabled {
      opacity: 0;
    }

    &-sm {
      top: calc(50% - 20px);
      border-radius: 8px;

      @include b-up(md) {
        padding: 10px;
      }

      @include b-d(md) {
        padding: 4px;
      }

      &#{$this}-button-next {
        @include b-up(md) {
          right: calc(-40px - 26px);
        }

        @include b-d(md) {
          right: calc(-24px - 8px);
        }
      }

      &#{$this}-button-prev {
        @include b-up(md) {
          left: calc(-40px - 26px);
        }

        @include b-d(md) {
          left: calc(-24px - 8px);
        }
      }

      svg {
        @include b-d(md) {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &-autoheight {
    &:not(.swipper--autoheightMobile) {
      #{$this}-wrapper {
        display: flex;
        align-items: start;
      }

      #{$this}-slide {
        flex-shrink: 0;
      }

      .ratio {
        padding-bottom: 0;
      }

      .ratio > * {
        position: static;
      }
    }

    &.swipper--autoheightMobile {
      @include b-up(md) {
        #{$this}-wrapper {
          height: auto !important;
        }
      }
    }

    @include b-d(md) {
      #{$this}-wrapper {
        display: flex;
        align-items: start;
      }

      #{$this}-slide {
        flex-shrink: 0;
      }

      .ratio {
        padding-bottom: 0;
      }

      .ratio > * {
        position: static;
      }
    }

    &.swiper--modal {
      #{$this}-wrapper {
        display: flex;
        align-items: start;
      }

      #{$this}-slide {
        flex-shrink: 0;
      }

      .ratio {
        padding-bottom: 0;
      }

      .ratio > * {
        position: static;
      }
    }
  }

  &--gallery {
    #{$this}-wrapper {
      @include b-up(md) {
        column-gap: 16px;
      }

      @include b-d(md) {
        column-gap: 8px;
      }
    }

    #{$this}-slide {
      margin-right: 0 !important;
      color: $gray-600;
    }
  }

  &--modal {
    #{$this}-slide {
      display: grid;
      place-content: center;
      height: calc(100vh - 112px);
      height: calc(100svh - 112px);
    }

    img,
    video {
      width: fit-content;
      margin-inline: auto;
      overflow: hidden;
      border-radius: 16px;
      object-fit: contain !important;
    }
  }

  &-fade {
    #{$this}-slide {
      &:not(.swiper-slide-active) {
        opacity: 0 !important;
      }
    }
  }
}
