h1,
h2 {
  letter-spacing: -1.5px;
}

h1,
h3 {
  color: transparent;
  text-transform: uppercase;
  background: $gradient;
  background-clip: text;

  @include b-btw(md, lg) {
    font-size: 48px;
    line-height: 1.17;
  }

  @include b-d(md) {
    font-size: 26px;
  }
}

h2 {
  color: $gray-800;

  @include b-up(lg) {
    line-height: 1.17;
  }

  @include b-btw(md, lg) {
    font-size: 40px;
    line-height: 1.2;
  }

  @include b-d(md) {
    font-size: 32px;
    line-height: 1.25;
  }
}

h3 {
  line-height: 1.25;
}

p {
  color: $gray-890;
  letter-spacing: 0.1px;
}
