h1,
h2 {
  text-transform: uppercase;
  letter-spacing: -1.5px;
}

h1 {
  color: transparent;
  background: $gradient;
  background-clip: text;
}

h2 {
  line-height: 1.17;
  color: $gray-800;
}

p {
  letter-spacing: 0.1px;
}
