@import '~styles/mixins';

.reviews {
  $this: &;

  position: relative;
  display: grid;
  row-gap: 24px;
  justify-items: center;
  margin-bottom: 60px;

  @include b-up(xl) {
    padding-top: 100px;
    padding-bottom: 32px;
  }

  @include b-d(xl) {
    padding-top: 32px;
  }

  @include b-o(lg) {
    padding-bottom: 10px;
  }

  @include b-d(lg) {
    margin-top: 32px;
  }

  @include b-o(md) {
    padding-bottom: 24px;
  }

  @include b-d(md) {
    row-gap: 16px;
    padding-bottom: 16px;
    overflow: hidden;
  }

  &::before {
    position: absolute;
    z-index: -1;
    width: 407px;
    height: 263px;
    content: '';
    background: $teal;
    filter: blur(154px);
    border-radius: 100%;
    opacity: 0.2;
    transform: rotate(-165deg) translateZ(0);

    @include b-up(lg) {
      left: 381px;
    }

    @include b-o(md) {
      left: 100px;
    }

    @include b-up(md) {
      top: 173px;
    }

    @include b-d(md) {
      top: 343px;
      left: -58px;
    }
  }

  &_title {
    text-align: center;
  }

  > * {
    width: 100%;
  }
}
