@import '~styles/mixins';

.media {
  display: grid;
  place-content: center;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;

  &.product {
    background: $white;
  }

  video {
    height: 100%;
  }
}
