/* stylelint-disable selector-pseudo-class-no-unknown */
@import '~styles/mixins';

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  background: $white;
  border-bottom: solid 1px $gray-100;
  transition: transform 0.3s ease-in-out;

  &.hide {
    transform: translateY(-100%);
  }

  &_inner {
    display: grid;
    align-items: center;

    &:global(.container) {
      @include b-up(lg) {
        padding-right: 48px;
        padding-left: 48px;
      }
    }

    @include b-up(md) {
      grid-template-columns: 1fr auto 1fr;
      column-gap: 24px;
    }

    @include b-d(md) {
      grid-template-columns: auto auto;
      column-gap: 16px;
    }
  }

  &_info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    white-space: nowrap;

    @include b-d(md) {
      display: none;
    }
  }

  &_phone {
    font-weight: 500;

    @include b-d(md) {
      order: -1;
    }
  }

  &_right {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;

    @include b-up(sm) {
      column-gap: 12px;
    }

    @include b-d(sm) {
      column-gap: 4px;

      svg {
        width: 32px;
        height: 32px;
      }
    }
  }

  &_search {
    position: relative;
    color: $green;
    transition: color 200ms;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 50%;
      content: '';
      background: $gray-890;
      transform: translateY(-50%);

      @include b-up(sm) {
        left: calc(100% + 12px);
      }

      @include b-d(sm) {
        left: calc(100% + 4px);
      }
    }

    &:hover {
      color: $green-dark;
    }

    &:focus-visible {
      color: $green-deep;
    }

    @include b-up(sm) {
      margin-right: 13px;
    }

    @include b-d(sm) {
      margin-right: 5px;
    }
  }
}
