@import '~styles/mixins';

.hero {
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: -100px;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 262 337'%3E%3Cpath stroke='%232D6B1C' d='M83.3-191.3c424.2-33.5 37.2 451.5 0 354.3C57.4 95.3 545.5 194.2-217 404.7' opacity='.1'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 447 329'%3E%3Cpath stroke='%232D6B1C' d='M29.2 427.8c-66.4-88.5-10.8-242.3 124.2-343.6C288.4-17 451.7-27.2 518.1 61.3' opacity='.1'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-size: 262px 337px, 447px 329px;

  @include b-d(md) {
    background-size: 150px 194px, 260px 192px;
  }

  &_inner {
    display: grid;
    row-gap: 24px;
    align-content: center;
    height: 100%;
  }

  &_title {
    max-width: 775px;
  }

  &_descr {
    max-width: 500px;
  }

  &_btns {
    display: grid;
    grid-auto-flow: column;
    column-gap: 16px;
    justify-content: start;
    margin-top: 40px;
  }
}
