@import '~styles/mixins';

.hero {
  padding-bottom: 39px;
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 262 337'%3E%3Cpath stroke='%232D6B1C' d='M83.3-191.3c424.2-33.5 37.2 451.5 0 354.3C57.4 95.3 545.5 194.2-217 404.7' opacity='.1'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 447 329'%3E%3Cpath stroke='%232D6B1C' d='M29.2 427.8c-66.4-88.5-10.8-242.3 124.2-343.6C288.4-17 451.7-27.2 518.1 61.3' opacity='.1'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size:
    262px 337px,
    447px 329px;

  @include b-up(xl) {
    height: calc(100vh - 100px);
  }

  @include b-up(lg) {
    min-height: 700px;
  }

  @include b-btw(md, xl) {
    height: calc(100vh - 104px);
  }

  @include b-btw(md, lg) {
    min-height: 950px;
  }

  @include b-up(md) {
    background-position:
      left top,
      right bottom;
  }

  @include b-d(md) {
    height: calc(100vh - 100px);
    min-height: 830px;
    background-position:
      left top,
      right center;
    background-size:
      150px 194px,
      260px 192px;
  }

  &_container {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    height: 100%;

    @include b-up(xl) {
      padding-top: 28px;
    }

    @include b-btw(lg, xl) {
      row-gap: 24px;
      padding-top: 77px;
    }

    @include b-btw(md, lg) {
      row-gap: 46px;
      padding-top: 40px;
    }

    @include b-d(md) {
      row-gap: 38px;
      padding-top: 20px;
    }
  }

  &_inner {
    position: relative;
    z-index: 1;
    display: grid;
    align-content: center;

    @include b-d(lg) {
      justify-items: center;
    }
  }

  &_content {
    display: grid;
    row-gap: 24px;

    @include b-d(lg) {
      justify-items: center;
      text-align: center;
    }
  }

  &_ill {
    z-index: -1;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 596 604'%3E%3Cpath fill='%23000' d='M281 18.63a23 23 0 0 1 34 0l45.87 50.3a23 23 0 0 0 21.54 7.04l66.26-13.36a23 23 0 0 1 27.39 19.88l8.02 68.67a23 23 0 0 0 13.1 18.17l61.93 28.93a23 23 0 0 1 10.4 31.96l-33.52 60.66a23 23 0 0 0 0 22.24l33.52 60.66a23 23 0 0 1-10.4 31.96l-61.92 28.93a23 23 0 0 0-13.11 18.17l-8.02 68.67a23 23 0 0 1-27.4 19.88l-66.25-13.36a23 23 0 0 0-21.54 7.05l-45.88 50.3a23 23 0 0 1-33.98 0l-45.88-50.3a23 23 0 0 0-21.54-7.05l-66.26 13.36a23 23 0 0 1-27.39-19.88l-8.02-68.67a23 23 0 0 0-13.1-18.17l-61.93-28.93a23 23 0 0 1-10.4-31.96l33.52-60.66a23 23 0 0 0 0-22.24l-33.52-60.66a23 23 0 0 1 10.4-31.96l61.92-28.93a23 23 0 0 0 13.11-18.17l8.02-68.67a23 23 0 0 1 27.4-19.88l66.25 13.36a23 23 0 0 0 21.54-7.05l45.88-50.3Z'/%3E%3C/svg%3E");
    aspect-ratio: 596 / 605;

    @include b-up(xxl) {
      width: 596px;
      transform: translateY(-50%);
    }

    @include b-btw(xl, xxl) {
      width: 40%;
      transform: translateY(-40%) rotate(-15deg);
    }

    @include b-btw(lg, xl) {
      width: 366px;
      transform: translateY(-23%) rotate(-15deg);
    }

    @include b-up(lg) {
      position: absolute !important;
      top: 50%;
      right: 27px;
    }

    @include b-d(lg) {
      transform: rotate(-15deg);
    }

    @include b-btw(md, lg) {
      width: 411px;
      margin-top: 24px;
    }

    @include b-d(md) {
      width: 343px;
      margin-top: 16px;
    }

    &_line {
      position: absolute;
      top: 21%;
      left: -8px;
      width: 96%;
      height: 63%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 574 381'%3E%3Cpath stroke='url(%23a)' d='M565.77 58.32c17.71 37.32 2.75 85.97-36.07 134.55-38.8 48.55-101.32 96.88-178.4 133.47-77.08 36.58-154.06 54.47-216.2 53.83-62.19-.65-109.33-19.82-127.05-57.13-17.7-37.32-2.75-85.97 36.07-134.55 38.8-48.55 101.33-96.89 178.4-133.47C299.6 18.44 376.58.55 438.72 1.2c62.19.64 109.34 19.82 127.05 57.13Z'/%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='0' r='1' gradientTransform='matrix(-126.50155 -259.99976 533.5426 -259.5924 351.5 314.5)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.49' stop-color='%23E3E9E0'/%3E%3Cstop offset='.89' stop-color='%23E3E9E0' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");

      @include b-d(xl) {
        transform: rotate(15deg);
      }
    }
  }

  &_pic {
    width: 100%;
    height: 100%;
  }

  &_title {
    max-width: 775px;
  }

  &_descr {
    @include b-up(lg) {
      max-width: 500px;
    }

    @include b-btw(md, lg) {
      max-width: 372px;
    }

    @include b-d(md) {
      max-width: 320px;
      font-size: 14px;
    }
  }

  &_btns {
    display: grid;

    @include b-up(lg) {
      margin-top: 40px;
    }

    @include b-d(lg) {
      order: 2;
    }

    @include b-btw(md, lg) {
      margin-top: 24px;
    }

    @include b-up(md) {
      grid-auto-flow: column;
      column-gap: 16px;
      justify-content: start;
    }

    @include b-d(md) {
      row-gap: 8px;
      width: 100%;
      max-width: 420px;
      margin-top: 16px;
    }
  }
}
