@import '~styles/mixins';

.services {
  display: grid;
  margin-bottom: 60px;

  @include b-up(xl) {
    padding-top: 64px;
  }

  @include b-d(xl) {
    padding-top: 40px;
  }

  @include b-up(lg) {
    row-gap: 72px;
    padding-bottom: 32px;
  }

  @include b-o(md) {
    row-gap: 40px;
    padding-bottom: 24px;
  }

  @include b-d(md) {
    row-gap: 8px;
  }
}
