@import '~styles/mixins';

.lights {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: grid;
  place-items: center;
  overflow: hidden;

  &::before,
  &::after,
  span {
    position: absolute;
    filter: blur(154px);
    border-radius: 100%;
  }

  &::before,
  &::after {
    content: '';
    background: #569a3d;
  }

  &::before {
    opacity: 0.3;

    @include b-up(md) {
      width: 290px;
      height: 290px;
    }

    @include b-up(lg) {
      transform: translate3d(-393px, -14px, 0);
    }

    @include b-o(md) {
      transform: translate3d(-265px, -35px, 0);
    }

    @include b-d(md) {
      width: 184px;
      height: 184px;
      transform: translate3d(-134px, -87px, 0);
    }
  }

  &::after {
    opacity: 0.2;

    @include b-up(md) {
      width: 454px;
      height: 294px;
    }

    @include b-up(lg) {
      transform: translate3d(311px, 297px, 0);
    }

    @include b-o(md) {
      transform: translate3d(149px, 313px, 0);
    }

    @include b-d(md) {
      width: 288px;
      height: 186px;
      transform: translate3d(127px, 133px, 0);
    }
  }

  span {
    background: $yellow;

    @include b-up(md) {
      width: 159px;
      height: 159px;
    }

    @include b-up(lg) {
      transform: translate3d(110px, -122px, 0);
    }

    @include b-d(lg) {
      transform: translate3d(106px, -174px, 0);
    }

    @include b-d(md) {
      width: 101px;
      height: 101px;
    }
  }
}
