@import '~styles/mixins';

.about {
  display: grid;
  grid-template-columns: 448px 1fr;
  column-gap: 72px;
  align-items: center;
  padding-top: 86px;
  padding-bottom: 143px;

  // hide on mobile
  @include b-d(xl) {
    display: none;
  }

  &_media {
    position: relative;
    z-index: 1;
    height: 680px;

    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 80%;
      height: 20%;
      content: '';
      background: #cbc5bd;
      filter: blur(40px);
      border-radius: 100%;
      transform: translate3d(-50%, -80%, 0);
    }
  }

  &_pic {
    width: 680px;
    margin-left: -32px;

    &_wrapper {
      z-index: 2;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 700px;
      transform: translateZ(0);
    }
  }

  &_content {
    display: grid;
    row-gap: 24px;
    justify-items: start;
    max-width: 664px;
  }

  &_descr {
    display: grid;
    row-gap: 36px;

    > :last-child {
      color: transparent;
      background-image: $gradient;
      background-clip: text;
    }
  }

  &_btn {
    margin-top: 24px;
  }
}
