@import '~styles/mixins';

.cards {
  $this: &;

  display: grid;
  grid-gap: 16px;

  @include b-up(xxl) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include b-btw(lg, xxl) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include b-btw(md, lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  &_item {
    position: relative;
    display: grid;
    align-content: space-between;
    min-height: 392px;
    padding: 20px;
    background: #f0f4ee;
    border-radius: 20px;
  }

  &_heading {
    z-index: 2;
    display: grid;
    grid-auto-flow: column;
    column-gap: 32px;
    align-items: start;
    justify-content: space-between;
  }

  &_name {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.273;
    color: black;
    letter-spacing: -0.04em;
  }

  &_label {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #f5f6f5;
    text-align: center;
    background: #c1c4bf;
    border-radius: 12px;
  }

  &_pic {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75.3%;
    max-width: 250px;
    transform: translate(-50%, -50%);
  }

  &_btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
  }

  &.homepage {
    width: 100%;

    #{$this}_item {
      &:last-child,
      &:nth-last-child(2) {
        @include b-d(xxl) {
          display: none;
        }
      }

      &:nth-last-child(3),
      &:nth-last-child(4) {
        @include b-d(lg) {
          display: none;
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        @include b-d(md) {
          display: none;
        }
      }
    }
  }
}
