@import '~styles/mixins';

.social {
  $this: &;

  position: relative;
  z-index: 2;
  display: grid;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  &_link {
    color: $green;

    &:hover {
      color: $green-dark;
    }

    &:focus {
      color: $green-deep;
    }
  }

  &_name {
    font-size: 14px;
    line-height: 1.43;
    text-transform: capitalize;
  }

  &.footer,
  &.about,
  &.contacts {
    grid-auto-flow: column;
  }

  &.footer,
  &.contacts {
    column-gap: 12px;
  }

  &.footer {
    grid-area: social;
    justify-content: end;
  }

  &.about {
    column-gap: 8px;
    justify-content: start;

    #{$this}_name {
      font-weight: 400;
      color: transparent;
      background: $gradient;
      background-clip: text;
    }

    a {
      padding: 10px 16px;
      border-radius: 8px;
    }
  }

  &.messengers {
    row-gap: 12px;

    #{$this}_name {
      padding-right: 4px;
      padding-left: 4px;
      text-align: left;
    }

    a {
      grid-template-columns: auto 1fr auto;
      padding: 24px;
    }

    svg {
      color: $primary;
    }
  }
}
