@import '~styles/mixins';

.social {
  $this: &;

  position: relative;
  z-index: 2;
  display: grid;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

  &:not(.messengers) {
    grid-area: social;
    grid-auto-flow: column;
    column-gap: 12px;
    justify-content: end;
  }

  &.messengers {
    row-gap: 12px;

    a {
      grid-template-columns: auto 1fr auto;
      padding: 24px;
    }
  }

  &_link {
    color: $green;

    &:hover {
      color: $green-dark;
    }

    &:focus {
      color: $green-deep;
    }
  }

  &_messengers {
    svg {
      color: $primary;
    }
  }

  &_name {
    padding-right: 4px;
    padding-left: 4px;
    font-size: 14px;
    line-height: 0.143;
    text-align: left;
    text-transform: capitalize;
  }
}
