@import '~styles/mixins';

.header {
  display: grid;
  row-gap: 16px;
  padding-bottom: 16px;

  &_inner {
    display: grid;
    align-items: center;
    justify-content: space-between;

    @include b-up(lg) {
      padding-right: 16px;
      padding-left: 16px;
    }

    @include b-up(xl) {
      grid-template-columns: 1fr auto 1fr;
      column-gap: 40px;
    }

    @include b-d(xl) {
      column-gap: 16px;
    }

    @include b-btw(md, xl) {
      grid-template-columns: 1fr auto auto;
    }

    @include b-d(md) {
      grid-template-columns: auto auto;
    }

    &.isNavHidden {
      grid-template-columns: auto auto;
    }
  }

  &_btn {
    justify-self: end;
  }
}
