@import '~styles/mixins';

.serviceshero {
  display: grid;
  row-gap: 16px;
  justify-content: center;
  padding-top: 48px;
  text-align: center;

  &_descr {
    @include b-up(lg) {
      max-width: 680px;
    }

    @include b-d(lg) {
      max-width: 432px;
    }
  }
}
