@import '~styles/mixins';

.footer {
  position: absolute;
  inset: auto 0 0;
  padding-top: 32px;
  padding-bottom: 32px;

  &_inner {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }

  &_copy {
    font-size: 14px;
    line-height: 1.43;
    color: $gray-600;
  }
}
