@import '~styles/mixins';

.contactsinfo {
  display: grid;
  row-gap: 16px;
  justify-items: start;
  padding: 20px;
  background: $white;
  border-radius: 16px;

  @include b-up(lg) {
    align-self: start;
  }

  @include b-d(lg) {
    justify-self: center;
    min-width: 343px;
  }
}
