@import '~styles/mixins';

.reviewslist {
  display: grid;

  @include b-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include b-btw(md, lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}
