@import '~styles/mixins';

.category {
  display: grid;
  row-gap: 8px;
  justify-items: start;

  &_descr {
    position: relative;
    max-width: 680px;
    margin-bottom: 16px;

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      top: -150px;
      left: 0;
      z-index: -1;
      width: 500px;
      height: 336px;
      background: $teal;
      filter: blur(154px);
      border-radius: 50%;
      opacity: 0.4;
      transform: translateZ(0);
    }

    &::after {
      top: -20px;
      right: -467px - 20px;
      width: 467px;
      height: 110px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 470 112'%3E%3Cpath fill='%23E3E9E0' d='M1 30.1A1 1 0 0 0 2 32l-1-2Zm266.5 36.4-.2-1 .2 1Zm182.6 44.3c.1.6.7.8 1.2.6l8.5-3a1 1 0 0 0-.7-1.9l-7.5 2.7-2.7-7.5a1 1 0 1 0-1.9.7l3 8.4ZM2 31.8c27.6-13.9 71.3-22 118-25.3 46.7-3.3 96.4-1.9 136 3 19.7 2.3 36.9 5.6 49.9 9.5 6.5 2 12 4 16.1 6.3 4.2 2.2 7 4.5 8.5 6.8a6.4 6.4 0 0 1 0 7 24.8 24.8 0 0 1-9.3 8.2c-10 5.8-27.4 12-54 18.3l.4 2c26.7-6.4 44.3-12.6 54.6-18.6 5-3 8.5-6 10.1-9 1.8-3 1.6-6-.1-9a23.6 23.6 0 0 0-9.2-7.5c-4.4-2.3-10-4.5-16.5-6.4-13.2-4-30.5-7.2-50.3-9.7a746.4 746.4 0 0 0-136.3-3C73 7.8 29 15.9 1 30.2L2 32Zm265.3 33.7a222.5 222.5 0 0 1-27 5c-3.3.4-6 .5-8.1.5-2.2-.1-3.7-.4-4.7-.8-1-.5-1.4-1-1.5-1.4-.1-.4 0-1.1.6-2.2 1.2-2 4-4.8 8.4-8C252.3 46 291.6 27.4 333 15c20.8-6.2 42-10.8 61.4-12.4 19.3-1.6 36.7-.1 49.6 5.8A38.3 38.3 0 0 1 467.3 41c1.9 16.4-3 39-17.2 69.2l1.8.8c14.3-30.4 19.3-53.3 17.4-70.2-2-17-11-28-24.4-34.1-13.4-6.1-31-7.6-50.6-6-19.5 1.6-41 6.3-61.8 12.5-41.6 12.4-81.1 31-98.7 44a33.4 33.4 0 0 0-9 8.5c-.7 1.3-1 2.5-.8 3.7.4 1.3 1.4 2.1 2.7 2.7 1.3.6 3.1.9 5.4 1 2.3 0 5 0 8.4-.4 6.7-.7 15.7-2.4 27.2-5.1l-.4-2Z'/%3E%3C/svg%3E");
    }
  }
}
