@import '~styles/mixins';

.gallery {
  display: grid;
  justify-items: center;
  padding-top: 32px;
  text-align: center;

  @include b-up(lg) {
    padding-bottom: 32px;
    margin-top: 60px;
  }

  @include b-d(lg) {
    margin-top: 32px;
  }

  @include b-btw(md, lg) {
    padding-bottom: 24px;
  }

  @include b-up(md) {
    row-gap: 24px;
  }

  @include b-d(md) {
    row-gap: 16px;
    padding-bottom: 16px;
  }

  &_list {
    min-height: 448px + 40px;
    padding: 20px 64px;
    margin: -20px -64px;
    mask-image: linear-gradient(
      90deg,
      transparent 0%,
      white 6%,
      white 94%,
      transparent 100%
    );
  }

  &_wrapper {
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: -20px;
    overflow: hidden;

    @include b-d(md) {
      margin-top: 8px;
    }
  }

  &_btn {
    z-index: 2;
    min-width: 215px;

    @include b-d(md) {
      width: calc(100% - 32px);
    }
  }
}
