@import '~styles/mixins';

.gallerylist {
  width: 100%;

  &_list {
    display: grid;
    grid-gap: 16px;

    @include b-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include b-o(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include b-d(md) {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
